[submodule ".zsh.d/fzf-tab"]
	path = .zsh.d/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
